<a href="{file_href}">
    <div class="file_item">
        <img class="cover" src="{cover}">
        <div class="file_info">
            <h3>{file_name}</h3>
            <h4>{type}&nbsp&nbsp{file_size}&nbsp&nbsp{file_path}</h4>
        </div>
    </div>
</a>